*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
ul{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 30px;
}

li{
    list-style: none;
}
a{
    position: relative;
    text-decoration: none;
    color: #343335;
    font-weight: 600;
}

header a:hover{
    color: #4F1083;
}

header a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4F1083;
    transition: width 0.3s ease;
}


header a:hover::before{
    width: 100%;
}

.section-one{
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1631&q=80');
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-one-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.section-one-div h1{
    font-size: 3.8em;
    color: white;
}
.section-one-div h1 span{
    color:#6A3CB4;
}
.section-one-div p{
    font-size: 1.5em;
    color: white;
    font-weight: 600;
}
.section-one-div button {
    padding: 15px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    background-color: #4F1083;
    color: white;
    cursor: pointer;
}
.section-one-div button:hover{
    background-color: #6A3CB4;
}
.section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    gap: 35px;
    padding: 0 200px;
}
.section-two h2{
    font-size: 2em;
    color: #4F1083;
}
.section-two p{
    font-size: 1.2em;
    color: #343335;
}
.section-two-div{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.section-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 200px;
    gap: 15px;
}
.section-three-div{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}

.section-three h2{
    font-size: 2em;
    color: #4F1083;
}

.section-three-div div img{
    width: 100px;
}

@media (max-width: 800px) {
    .section-two{
        flex-direction: column;
        padding: 0 50px;
    }
    .section-three{
        padding: 0 50px;
    }
}