*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    width: 100%;
    background-image: url('https://d35aaqx5ub95lt.cloudfront.net/images/4986531ca822d48e57b4a18f40ff5172.svg');
    background-color: rgb(35,83,144);
}
main a{
    color: white;
    text-decoration: none;
}