body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://d35aaqx5ub95lt.cloudfront.net/images/4986531ca822d48e57b4a18f40ff5172.svg');
    background-color: rgb(35,83,144);
}

*{
  font-family: 'Signika', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 100vh;
    width: 100%;
    background-image: url('https://d35aaqx5ub95lt.cloudfront.net/images/4986531ca822d48e57b4a18f40ff5172.svg');
    background-color: rgb(35,83,144);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: rgb(35,83,144);
}

nav a{
    border: none;
}

.language-selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}
.div-one{
    display: grid;
    width: 100%;
    place-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));
}

.div-one div, a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    border: 3px solid white;
    border-radius: 8px;
    padding: 20px;
    color: white;
    text-decoration: none;
}